@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-opensans: 'Open Sans', sans-serif;
}

/* .font-light {
  font-weight: 300;
}

.font-medium {
  font-weight: 400;
}

.font-bold {
  font-weight: 700;
} */
